<ul>
    <li><img src="../assets/angular.png" width="50"></li>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/flights/flights-search">Flights</a></li>


</ul>

<!--<amplify-authenticator>-->
<!--  <ng-template-->
<!--    amplifySlot="authenticated"-->
<!--    let-user="user"-->
<!--    let-signOut="signOut"-->
<!--  >-->
<!--    <h1>Welcome {{ user.username }}!</h1>-->
<!--    <button (click)="signOut()">Sign Out</button>-->
<!--  </ng-template>-->
<!--</amplify-authenticator>-->

<router-outlet></router-outlet>

